<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <% if (username) { %>
        <p>Welcome, <%= username %>!</p>
        <a href="/join/<%= username %>"><button type="submit">Become an exclusive member</button></a>
    <% } else { %>
        <a href="sign-up">Sign up</a>
        <p>Welcome, guest!</p>
    <% } %>
</body>
</html>