<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <form action="/log-in" method="POST">
        <label for="username">UserName:</label>
        <input type="text" name="username" id="username">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <button type="submit">Submit</button>

        <% if (error && error.length > 0) { %>
            <div style="color: red;">
                <% error.forEach(err => { %>
                    <p><%= err.msg %></p>
                <% }) %>
            </div>
        <% } %>
    </form>
</body>
</html>